body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.luffy {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30px;
}
.my--name {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}
.adresse {
  display: block;
  background-color: #389AE4;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  color: white;
  border-radius: 10px;
}
